* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(67, 67, 226);
    padding: 10px 0;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bolder;
    font-family: "Playwrite AU SA", cursive;

}

nav ul {
    display: flex;
    gap: 16px;
    font-family: "Roboto Condensed", sans-serif;
    align-items: center;

}

nav ul li {
    list-style-type: none;
    font-size: 18px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(192, 98, 98);
    text-decoration: none;
    transition: all 0.5s;
}



.hero {
    background-image: linear-gradient(to right, rgb(60, 57, 57), rgb(125, 174, 125));
    height: 85vh;
    display: flex;
    justify-content: center;
    gap: 130px;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;

}
.hero-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-left .one {
    font-size: 60px;
    color: rgb(27, 27, 213);
    font-weight:bolder;
}

.hero-left .two {
    font-size: 40px;
}

.bold {
    font-weight: bolder;
}

.button-container {
    padding: 9px 0;
}

.btn {
    background-image: linear-gradient(to right, rgb(36, 36, 120), rgb(56, 85, 158));
    margin: 0 2px;
    color: white;
    padding: 7px 9px;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid purple;
    font-size: 17px;
    font-weight: bolder;
    transition: all 0.5s;
}
.btn:hover{
    background-color: rgb(102, 205, 102);
}

.project {
    display: flex;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    border-top: 2px solid rgb(136 165 246 / 25%);
    padding: 12px 0;
    background-image: linear-gradient(to right, rgb(60, 57, 57), rgb(63, 146, 161));
}

.project-image img {
    width: 49.5vw;
    margin: 35px ;
    border-radius: 100px;
}

.project-info {
    display: flex;
    flex-direction: column;
    padding: 42px;
}

.project-info .text {
    font-size: 27px;
    font-weight: bold;
    padding: 10px 0;
}

.project-info p {
    padding: 12px 0;
}
.row-reverse{
    flex-direction: row-reverse;
}
footer{
    background-color: rgb(58, 67, 193);
    padding: 20px;
    color: white;
    text-align: center;
     font-family: "Roboto Condensed", sans-serif;

}
@media screen and (max-width: 950px) {
    nav{
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
    .hero{
        flex-direction: column-reverse;
        gap: 12px;
    }
    .hero-left{
        align-items: center;
    }
    .project{
        padding: 1px;
    }
}
@media screen and (max-width: 650px) {
    .hero-left .one{
        font-size: 50px;
        text-align: center;
    }
    .hero-left .two{
        font-size: 50px;
        text-align: center;
    }
    .project{
        flex-direction: column;
    }
    .project-image img{
        width: 80vw;
        margin: 15px 35px;
    }
    .project-info{
        padding: 15px 23px;
    }
}

